.news{
    display:flex;
}

.news-list{
    display:flex;
    flex-direction: column;
}

.news-item{
    display:flex;
    margin: 10px;
}

.news-item__preview{
    flex: 0 0 300px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.news-item__preview img {
    height: 100%;
    width: 100%;
}

.news-item__textbox{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.news-item__title{
    font-weight: bold;
}

.news-item__content{

}

.news-item__button{

}